*.pydevproject
*.project
*.egg-info
*.class
*.pyo
*.pyc
*.db
*.sqlite
*.DS_Store
.idea/
services.yml
tethysapp/airquality/vairquality/node_modules/
build/
dist/
tethysapp/airquality/workspaces/app_workspace/MapImage/
tethysapp/airquality/__pycache__/
tethysapp/airquality/workspaces/app_workspace/Animation/ImageFolder/
tethysapp/airquality/workspaces/app_workspace/Animation/JSONInfo/
